//FUENTES
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Lato:700);

//MIXIN COLOR FONDO Y COLOR LETRA
//*  *****************************************  RGBA SUPPORT */
  // * ****** @include rgba-fallback(color, #123456, 0.5);**** */
  // * ****** @include rgba-fallback(bg, #654321, 0.6);**** */
    @mixin rgba-fallback($type, $color, $percentage) {
      $rgbRED: red($color);
      $rgbGREEN: green($color);
      $rgbBLUE: blue($color);
      @if $type == color {
          color: $color;
          color: rgba($rgbRED, $rgbGREEN, $rgbBLUE, $percentage);
      }
      @if $type == bg {
          background-color: $color;
          background-color: rgba($rgbRED, $rgbGREEN, $rgbBLUE, $percentage);
      }
    }

//INDEX

	.jumbotron{
		  padding-top: 20px;
	    padding-bottom: 20px;
	    margin-bottom:0;
	    background: linear-gradient(45deg, #d274ed 0%,#e0cce8 34%,#cfadd8 69%,#b58dc4 100%);
		.container{
			width: 100%;
			a > img{
				width: 100px;
				display: inline-block;
				vertical-align: middle;
			}
			& > h1{
				display: inline-block;
				vertical-align:middle;
				margin-left: 20px;
				font-size: 50px;
				font-family: 'Lato', sans-serif;
				font-weight: bold;
				text-shadow: 4px 1px 3px white;
			}
			.redes-sociales{
				display: inline-block;
	    	float: right;
	    	margin-top: 50px;
	    	a > img{
	    		width: 100%;
	    	}
	    	a:hover, a:focus, a:active{
	    		background: transparent;
	    	}
			}
		}
	}
	.navbar-default{
		border: none;
		margin-bottom: 0;
		#navbarCollapse{
			background-color: #863C93;
			& > ul{
				& > li{
					.dropdown-toggle{
						background: url("../imagenes/flecha.png");
						background-repeat: no-repeat;
						background-position: 67px 17px;
						padding-right: 20px;
					}
					& > a{
						color: white;
						font-size: 16px;
						font-family: 'Lato', sans-serif;
						font-weight: 700;
						&:hover, &.active{
							@include rgba-fallback(bg, #C68ED0, 0.6);
							color: white;
						}
					}
					ul{
							background-color: #863C93;
						li a{
							color: white;
							font-size: 16px;
							font-family: 'Lato', sans-serif;
							font-weight: 700;
							&:hover, &.active{
								@include rgba-fallback(bg, #C68ED0, 0.6);
								color: white;
						}
						}
					}
				}
			}
		}
	}
	.content{
		background-color: #FCEBF6;
		#myCarousel{
			margin-bottom: 5px;
			.carousel-indicators li{
				border: 3px solid white;
				color: #863C93; 
				width: 20px; height: 20px;
			}
			.carousel-inner{
				.item{
					& > img{
						margin-top: -70px;
					}
				}
			}
		}
		.col-lg-4{
			& > h3{
				font-family: 'Lato', sans-serif;
				font-weight: 700;
				background-color: #863C93;
				color: white;
				padding: 10px 5px;
				padding-left: 8px;
				margin-top: 0;
			}
			.rows{
				padding: 10px;
			  margin-bottom: 10px;
			  &.odd{
			  	background-color: #F1C3E1;
			  }
			  &.last{
				margin-bottom: 20px;
				}
				.fecha{
					font-style: italic;
			    font-weight: bold;
			    margin-bottom: 5px;
			    font-family: 'Lato', sans-serif;
				}
				.titulo{
					font-family: 'Lato', sans-serif;
					font-weight: 700;
					text-transform: uppercase;
					color: #1C006B;
					margin-bottom: 10px;
				}
				.contenido{
					font-family: 'Lato', sans-serif;
					margin-bottom: 20px;
					& > a{
						background: url("../imagenes/pdf1.png");
						background-repeat: no-repeat;
						padding-left: 24px;
						padding-bottom: 2px;
					}
				}
				.mas{
					border: 1px solid #863C93;
			    padding: 5px 10px;
			    background-color: white;
			    color: #863C93;
			    font-family: 'Lato', sans-serif;
				}
			}
			.masnoticias{
				 color: #863C93;
			   font-family: 'Lato', sans-serif;
			   text-decoration: underline;
			   &:hover{
			   	color: black;
			   }
			}
		}
		.col-lg-8{
			.posicion-geografica{
				& > h3{
					font-family: 'Lato', sans-serif;
					font-weight: 700;
					background-color: #863C93;
					color: white;
					padding: 10px 5px;
					margin-top: 0;
					padding-left: 8px;
				}
				.contenido-8{
					padding: 0px 40px;
					img, .contentLanaja{
						display: inline-block;
					}
					img{
						width: 60%;
					}
					.contentLanaja{
						width: 39%;
						box-sizing: border-box;
						padding: 5px;
	    			vertical-align: top;
	    			font-family: 'Lato', sans-serif;
	    			font-size: 16px;
	    			text-align: justify;
					}
				}
				.mapa{
					padding: 0px 40px;
					margin-top: 10px;
					padding-bottom: 20px;
				}
				.tituloMapa{
					margin-top: 30px;
				}
			}
		}
	}

	.footer{
		background-color: #863C93;
		.direccion{
			padding: 20px;
			max-width: 1150px;
			margin: 0 auto;
			strong, p{
				display: inline-block;
				color: white;
				font-family: 'Lato', sans-serif;
				font-size: 16px;
			}
			& > strong{
				padding-right: 5px;
		    font-size: 17px;
			}
		}
		.row{
			.col-lg-5{
				.redes-sociales{
					padding-left: 90px;
					p{
						display: inline-block; 
						color: #FEA3F6;
						font-family: 'Lato', sans-serif;
						font-size: 16px;
						margin-right: -40px;
					}
					#sprite{
						display: inline-block;
						vertical-align: middle;
						width: 254px; height: 86px;
						background: url("../imagenes/spice-social-gadget-sprite.png");
						margin: 10px auto;
						padding: 0;
						position: relative;
						transform: scale(0.5);
						li{
							margin: 0;
							padding: 0;
							list-style: none;
							position: absolute;
							top:0;
							a{
								display: block;
								height: 86px;
							}
						}
						#panel1{
							left: 0;
							width: 86px;
							a:hover{
								background: url("../imagenes/spice-social-gadget-sprite.png")
								0px -86px no-repeat;
							}
						}
						#panel2{
							left: 86px;
							width: 86px;
							a:hover{
								background: url("../imagenes/spice-social-gadget-sprite.png")
								-86px -86px no-repeat;
							
							}
						}
						#panel3{
							left: 172px;
							width: 86px;
							a:hover{
								background: url("../imagenes/spice-social-gadget-sprite.png")
								-172px -86px no-repeat;
							}
						}
					}
				}
			}
			.col-lg-7{
				margin-top: 55px;
				padding-left: 230px;
				a{
					color: #FADEF8;
					text-decoration: underline;
					margin-right: 15px;
					&:hover{
						color:#FEA3F6;
						font-family: 'Lato', sans-serif;
					}
				}
				.imagenes{
					margin-top: 20px;
	    		margin-left: 143px;
	    		padding-bottom: 20px;
					.avanza{
						background-color: white;
					}
				}
			}
		}
	}

//HISTORIA
	.contentH{
		background-color: #FCEBF6;
		.col-lg-7{
			padding: 10px;
			font-family: 'Lato', sans-serif;
			box-sizing: border-box;
			margin: 10px 0px;
			margin-left: -20px;
			.contenidoHistoria{
				@include rgba-fallback(bg, #F8BFF3, 0.6);
				box-sizing: border-box;
				padding: 10px 20px;
				text-align: justify;
			}
			h3{
				font-family: 'Lato', sans-serif;
					font-weight: 700;
					background-color: #863C93;
					color: white;
					padding: 10px 5px;
					padding-left: 8px;
					margin: 0;
			}
		}
		.col-lg-5{
			.imagenhistoria{
				width: 300px;
    		margin: 0 auto;
    		padding-bottom: 20px;
				& > img{
					max-width: 300px;
					margin-bottom: 10px;
					border: 3px outset #BF41B4;
				}
				& > p{
					text-align: center;
					font-family: 'Lato', sans-serif;
					font-style: italic;
					font-size: 15px;
				}
			}
			> .imagenhistoria:first-child{
				padding: 20px 0px;
			}
		}
	}

//TRAZADO URBANO
.contentT{
	background-color: #FCEBF6;
	padding-top: 20px;
	.contenido-trazado{
		@include rgba-fallback(bg, #F8BFF3, 0.6);
		margin: 0px 20px 20px;
		padding: 15px;
		font-family: 'Lato', sans-serif;
		font-size: 15px;
	}
	.verMas{
		cursor: pointer;
		& > h1{
			width: 234px;
			text-align: center;
	    margin: 0 auto;
	    padding: 15px 30px;
	    @include rgba-fallback(bg, #5E3964, 0.6);
	    font-family: 'Lato', sans-serif;
	    font-weight: 700;
	    color: white;
		}
		.imagenTrazado{
			display: none;
			@include rgba-fallback(bg, #5E3964, 0.6);
			.imagenesTra{
				max-width: 900px;
    		margin: 0 auto;
    		padding: 25px 0px;
    		& > .imagen1:first-child{
    			width: 59%;
    		}
				& > .imagen1:last-child{
    			width: 40%;
    		}
				& > .imagen1{
				display: inline-block;
				& > img{
					max-width: 300px;
					border: 1px dashed #F8BFF3;
					max-height: 190px;
					margin-bottom: 15px;
				}
				& > p{
					font-family: 'Lato', sans-serif;
					font-style: italic;
					color: white;
					font-size: 15px;
				}
				}
			}
		}
	}
}

//LEYENDAS
	.contentL{
		background-color: #FCEBF6;
		padding-top: 20px;
		.col-lg-8{
			& > h3{
				font-family: 'Lato', sans-serif;
				font-weight: 700;
				background-color: #863C93;
				color: white;
				padding: 10px 5px;
				padding-left: 8px;
				margin: 0;
			}
			& > .rows{
				@include rgba-fallback(bg, #F8BFF3, 0.6);
				padding: 10px;
				margin-bottom: 15px;
				text-align: justify;
				font-family: 'Lato', sans-serif;
				font-size: 15px;
				.titulo{
					font-size: 17px;
	    		margin-bottom: 10px;
	    		text-transform: uppercase;
	    		font-weight: 700;
	    		color:#1C006B;
				}
			}
		}
		.col-lg-4{
			font-family: 'Lato', sans-serif;
			& > h3{
				font-weight: 700;
				background-color: #863C93;
				color: white;
				padding: 10px 5px;
				padding-left: 8px;
				margin: 0;
			}
			& > .leyenda{
				@include rgba-fallback(bg, #F8BFF3, 0.6);
				padding: 10px;
				margin-bottom: 15px;
				& > p{
					font-size: 15px;
					text-align: justify;
					margin-bottom: 15px;
				}
			}
		}
	}

//* ********** FIESTAS ***** */
	//* ****** SAN MATEO *** */
		.contentSM{
			background-color: #FCEBF6;
			padding-top: 20px;
			font-family: 'Lato', sans-serif;
			& > h3{
				font-weight: 700;
				background-color: #863C93;
				color: white;
				padding: 10px 5px;
				padding-left: 8px;
				margin: 0 10px;
			}
			& > .introduccion{
				margin: 10px;
				font-size: 15px;
				@include rgba-fallback(bg, #F8BFF3, 0.6);
				p{
					padding: 10px;
				}
			}
			& > .dance{
				max-width: 650px;
    		margin: 0 auto;
    		padding: 25px 0px;
    		iframe{
    			box-shadow: 1px 2px 23px 10px rgba(224,162,224,1);
    		}
			}
			.fotografias{
				margin: 10px;
				margin-left: 35px;
				margin-right: 0;
					.col-lg-3{
						& > img{
						max-width: 250px;
						min-height: 175px;
					}
					& > p{
						margin-bottom: 15px;
						padding: 10px;
						max-width: 250px;
						color: white;
						font-size: 15px;
						font-weight: 700;
						text-align: center;
						@include rgba-fallback(bg, #863C93, 0.6);
					}
				}
			}
		}
	//* ****** SAN SEBASTIAN *** */
	.contentSS{
		background-color: #FCEBF6;
		padding-top: 20px;
		font-family: 'Lato', sans-serif;
		.col-lg-4{
			.video{
				width: 360px;
    		margin: 0 auto;
    		iframe{
    			box-shadow: 1px 2px 23px 10px rgba(224,162,224,1);
    		}
			}
		}
		.col-lg-5{
			margin-bottom: 15px;
			& > h3{
				font-weight: 700;
				background-color: #863C93;
				color: white;
				padding: 10px;
				margin: 0;
			}
			.historia{
				@include rgba-fallback(bg, #F8BFF3, 0.6);
				padding: 10px;
				font-size: 15px;
			}
		}
		.col-lg-3{
			.hoguera{
				& > img{
					max-width: 280px;
					box-shadow: 1px 2px 23px 10px rgba(224,162,224,1);
				}
			}
		}
		.col-lg-8{
			margin-bottom: 15px;
			& > h3{
				font-weight: 700;
				background-color: #863C93;
				color: white;
				padding: 10px;
				margin: 0;
			}
			& > .contenidoSanJose{
				@include rgba-fallback(bg, #F8BFF3, 0.6);
				padding: 10px;
				font-size: 15px;
			}

		}
		.col-lg-4.double{
			margin-bottom: 30px;
			.imagenesSanJose{
				max-width: 350px;
				margin: 0 auto;
				& > img{
					max-width: 350px;
					box-shadow: 1px 2px 23px 10px rgba(224,162,224,1);
				}
			}
		}
	}

	.contentA{
		background-color: #FCEBF6;
		padding-top: 20px;
		font-family: 'Lato', sans-serif;
		.col-lg-6.first{
			& > h3{
				font-weight: 700;
				background-color: #863C93;
				color: white;
				padding: 10px;
				margin: 0;
			}
			.alcalde{
				@include rgba-fallback(bg, #F8BFF3, 0.6);
				padding: 10px;
				font-size: 15px;
				margin-bottom: 15px;
			}
			.diputados{
				@include rgba-fallback(bg, #F8BFF3, 0.6);
				& > li{
					padding: 5px;
				}
			}
		}
		.col-lg-6.last{
			margin-bottom: 15px;
			& > h3{
				font-weight: 700;
				background-color: #863C93;
				color: white;
				padding: 10px;
				margin: 0;
			}
			& > .horario{
				@include rgba-fallback(bg, #F8BFF3, 0.6);
				padding: 10px;
				font-size: 15px;
				margin-bottom: 15px;
			}
			form{
				@include rgba-fallback(bg, #F8BFF3, 0.6);
				padding: 10px;
				.btn-default{
					margin-bottom: 20px;
					background-color: #863C93;
					color: white;
					font-weight: 700;
					text-transform: uppercase;
					&:hover{
						@include rgba-fallback(bg, #863C93, 0.5);
					}
				}
				p{
					font-style: italic;
				}
			}
		}
	}