@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Lato:700);
/* line 25, ../sass/layout.scss */
.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  background: linear-gradient(45deg, #d274ed 0%, #e0cce8 34%, #cfadd8 69%, #b58dc4 100%);
}
/* line 30, ../sass/layout.scss */
.jumbotron .container {
  width: 100%;
}
/* line 32, ../sass/layout.scss */
.jumbotron .container a > img {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}
/* line 37, ../sass/layout.scss */
.jumbotron .container > h1 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-shadow: 4px 1px 3px white;
}
/* line 46, ../sass/layout.scss */
.jumbotron .container .redes-sociales {
  display: inline-block;
  float: right;
  margin-top: 50px;
}
/* line 50, ../sass/layout.scss */
.jumbotron .container .redes-sociales a > img {
  width: 100%;
}
/* line 53, ../sass/layout.scss */
.jumbotron .container .redes-sociales a:hover, .jumbotron .container .redes-sociales a:focus, .jumbotron .container .redes-sociales a:active {
  background: transparent;
}

/* line 59, ../sass/layout.scss */
.navbar-default {
  border: none;
  margin-bottom: 0;
}
/* line 62, ../sass/layout.scss */
.navbar-default #navbarCollapse {
  background-color: #863C93;
}
/* line 66, ../sass/layout.scss */
.navbar-default #navbarCollapse > ul > li .dropdown-toggle {
  background: url("../imagenes/flecha.png");
  background-repeat: no-repeat;
  background-position: 67px 17px;
  padding-right: 20px;
}
/* line 72, ../sass/layout.scss */
.navbar-default #navbarCollapse > ul > li > a {
  color: white;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
/* line 77, ../sass/layout.scss */
.navbar-default #navbarCollapse > ul > li > a:hover, .navbar-default #navbarCollapse > ul > li > a.active {
  background-color: #C68ED0;
  background-color: rgba(198, 142, 208, 0.6);
  color: white;
}
/* line 82, ../sass/layout.scss */
.navbar-default #navbarCollapse > ul > li ul {
  background-color: #863C93;
}
/* line 84, ../sass/layout.scss */
.navbar-default #navbarCollapse > ul > li ul li a {
  color: white;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
/* line 89, ../sass/layout.scss */
.navbar-default #navbarCollapse > ul > li ul li a:hover, .navbar-default #navbarCollapse > ul > li ul li a.active {
  background-color: #C68ED0;
  background-color: rgba(198, 142, 208, 0.6);
  color: white;
}

/* line 99, ../sass/layout.scss */
.content {
  background-color: #FCEBF6;
}
/* line 101, ../sass/layout.scss */
.content #myCarousel {
  margin-bottom: 5px;
}
/* line 103, ../sass/layout.scss */
.content #myCarousel .carousel-indicators li {
  border: 3px solid white;
  color: #863C93;
  width: 20px;
  height: 20px;
}
/* line 110, ../sass/layout.scss */
.content #myCarousel .carousel-inner .item > img {
  margin-top: -70px;
}
/* line 117, ../sass/layout.scss */
.content .col-lg-4 > h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background-color: #863C93;
  color: white;
  padding: 10px 5px;
  padding-left: 8px;
  margin-top: 0;
}
/* line 126, ../sass/layout.scss */
.content .col-lg-4 .rows {
  padding: 10px;
  margin-bottom: 10px;
}
/* line 129, ../sass/layout.scss */
.content .col-lg-4 .rows.odd {
  background-color: #F1C3E1;
}
/* line 132, ../sass/layout.scss */
.content .col-lg-4 .rows.last {
  margin-bottom: 20px;
}
/* line 135, ../sass/layout.scss */
.content .col-lg-4 .rows .fecha {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Lato', sans-serif;
}
/* line 141, ../sass/layout.scss */
.content .col-lg-4 .rows .titulo {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #1C006B;
  margin-bottom: 10px;
}
/* line 148, ../sass/layout.scss */
.content .col-lg-4 .rows .contenido {
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;
}
/* line 151, ../sass/layout.scss */
.content .col-lg-4 .rows .contenido > a {
  background: url("../imagenes/pdf1.png");
  background-repeat: no-repeat;
  padding-left: 24px;
  padding-bottom: 2px;
}
/* line 158, ../sass/layout.scss */
.content .col-lg-4 .rows .mas {
  border: 1px solid #863C93;
  padding: 5px 10px;
  background-color: white;
  color: #863C93;
  font-family: 'Lato', sans-serif;
}
/* line 166, ../sass/layout.scss */
.content .col-lg-4 .masnoticias {
  color: #863C93;
  font-family: 'Lato', sans-serif;
  text-decoration: underline;
}
/* line 170, ../sass/layout.scss */
.content .col-lg-4 .masnoticias:hover {
  color: black;
}
/* line 174, ../sass/layout.scss */
.content .col-lg-4 .pdf {
  color: #863C93;
  font-family: 'Lato', sans-serif;
  text-decoration: underline;
}
/* line 182, ../sass/layout.scss */
.content .col-lg-8 .posicion-geografica > h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background-color: #863C93;
  color: white;
  padding: 10px 5px;
  margin-top: 0;
  padding-left: 8px;
}
/* line 191, ../sass/layout.scss */
.content .col-lg-8 .posicion-geografica .contenido-8 {
  padding: 0px 40px;
}
/* line 193, ../sass/layout.scss */
.content .col-lg-8 .posicion-geografica .contenido-8 img, .content .col-lg-8 .posicion-geografica .contenido-8 .contentLanaja {
  display: inline-block;
}
/* line 196, ../sass/layout.scss */
.content .col-lg-8 .posicion-geografica .contenido-8 img {
  width: 60%;
}
/* line 199, ../sass/layout.scss */
.content .col-lg-8 .posicion-geografica .contenido-8 .contentLanaja {
  width: 39%;
  box-sizing: border-box;
  padding: 5px;
  vertical-align: top;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  text-align: justify;
}
/* line 209, ../sass/layout.scss */
.content .col-lg-8 .posicion-geografica .mapa {
  padding: 0px 40px;
  margin-top: 10px;
  padding-bottom: 20px;
}
/* line 214, ../sass/layout.scss */
.content .col-lg-8 .posicion-geografica .tituloMapa {
  margin-top: 30px;
}

/* line 221, ../sass/layout.scss */
.footer {
  background-color: #863C93;
}
/* line 223, ../sass/layout.scss */
.footer .direccion {
  padding: 20px;
  max-width: 1150px;
  margin: 0 auto;
}
/* line 227, ../sass/layout.scss */
.footer .direccion strong, .footer .direccion p {
  display: inline-block;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
/* line 233, ../sass/layout.scss */
.footer .direccion > strong {
  padding-right: 5px;
  font-size: 17px;
}
/* line 240, ../sass/layout.scss */
.footer .row .col-lg-5 .redes-sociales {
  padding-left: 90px;
}
/* line 242, ../sass/layout.scss */
.footer .row .col-lg-5 .redes-sociales p {
  display: inline-block;
  color: #FEA3F6;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin-right: -40px;
}
/* line 249, ../sass/layout.scss */
.footer .row .col-lg-5 .redes-sociales #sprite {
  display: inline-block;
  vertical-align: middle;
  width: 254px;
  height: 86px;
  background: url("../imagenes/spice-social-gadget-sprite.png");
  margin: 10px auto;
  padding: 0;
  position: relative;
  transform: scale(0.5);
}
/* line 258, ../sass/layout.scss */
.footer .row .col-lg-5 .redes-sociales #sprite li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}
/* line 264, ../sass/layout.scss */
.footer .row .col-lg-5 .redes-sociales #sprite li a {
  display: block;
  height: 86px;
}
/* line 269, ../sass/layout.scss */
.footer .row .col-lg-5 .redes-sociales #sprite #panel1 {
  left: 0;
  width: 86px;
}
/* line 272, ../sass/layout.scss */
.footer .row .col-lg-5 .redes-sociales #sprite #panel1 a:hover {
  background: url("../imagenes/spice-social-gadget-sprite.png") 0px -86px no-repeat;
}
/* line 277, ../sass/layout.scss */
.footer .row .col-lg-5 .redes-sociales #sprite #panel2 {
  left: 86px;
  width: 86px;
}
/* line 280, ../sass/layout.scss */
.footer .row .col-lg-5 .redes-sociales #sprite #panel2 a:hover {
  background: url("../imagenes/spice-social-gadget-sprite.png") -86px -86px no-repeat;
}
/* line 286, ../sass/layout.scss */
.footer .row .col-lg-5 .redes-sociales #sprite #panel3 {
  left: 172px;
  width: 86px;
}
/* line 289, ../sass/layout.scss */
.footer .row .col-lg-5 .redes-sociales #sprite #panel3 a:hover {
  background: url("../imagenes/spice-social-gadget-sprite.png") -172px -86px no-repeat;
}
/* line 297, ../sass/layout.scss */
.footer .row .col-lg-7 {
  margin-top: 55px;
  padding-left: 230px;
}
/* line 300, ../sass/layout.scss */
.footer .row .col-lg-7 a {
  color: #FADEF8;
  text-decoration: underline;
  margin-right: 15px;
}
/* line 304, ../sass/layout.scss */
.footer .row .col-lg-7 a:hover {
  color: #FEA3F6;
  font-family: 'Lato', sans-serif;
}
/* line 309, ../sass/layout.scss */
.footer .row .col-lg-7 .imagenes {
  margin-top: 20px;
  margin-left: 143px;
  padding-bottom: 20px;
}
/* line 313, ../sass/layout.scss */
.footer .row .col-lg-7 .imagenes .avanza {
  background-color: white;
}

/* line 322, ../sass/layout.scss */
.contentH {
  background-color: #FCEBF6;
}
/* line 324, ../sass/layout.scss */
.contentH .col-lg-7 {
  padding: 10px;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  margin: 10px 0px;
  margin-left: -20px;
}
/* line 330, ../sass/layout.scss */
.contentH .col-lg-7 .contenidoHistoria {
  background-color: #F8BFF3;
  background-color: rgba(248, 191, 243, 0.6);
  box-sizing: border-box;
  padding: 10px 20px;
  text-align: justify;
}
/* line 336, ../sass/layout.scss */
.contentH .col-lg-7 h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background-color: #863C93;
  color: white;
  padding: 10px 5px;
  padding-left: 8px;
  margin: 0;
}
/* line 347, ../sass/layout.scss */
.contentH .col-lg-5 .imagenhistoria {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 20px;
}
/* line 351, ../sass/layout.scss */
.contentH .col-lg-5 .imagenhistoria > img {
  max-width: 300px;
  margin-bottom: 10px;
  border: 3px outset #BF41B4;
}
/* line 356, ../sass/layout.scss */
.contentH .col-lg-5 .imagenhistoria > p {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 15px;
}
/* line 363, ../sass/layout.scss */
.contentH .col-lg-5 > .imagenhistoria:first-child {
  padding: 20px 0px;
}

/* line 370, ../sass/layout.scss */
.contentT {
  background-color: #FCEBF6;
  padding-top: 20px;
}
/* line 373, ../sass/layout.scss */
.contentT .contenido-trazado {
  background-color: #F8BFF3;
  background-color: rgba(248, 191, 243, 0.6);
  margin: 0px 20px 20px;
  padding: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
/* line 380, ../sass/layout.scss */
.contentT .verMas {
  cursor: pointer;
}
/* line 382, ../sass/layout.scss */
.contentT .verMas > h1 {
  width: 234px;
  text-align: center;
  margin: 0 auto;
  padding: 15px 30px;
  background-color: #5E3964;
  background-color: rgba(94, 57, 100, 0.6);
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: white;
}
/* line 392, ../sass/layout.scss */
.contentT .verMas .imagenTrazado {
  display: none;
  background-color: #5E3964;
  background-color: rgba(94, 57, 100, 0.6);
}
/* line 395, ../sass/layout.scss */
.contentT .verMas .imagenTrazado .imagenesTra {
  max-width: 900px;
  margin: 0 auto;
  padding: 25px 0px;
}
/* line 399, ../sass/layout.scss */
.contentT .verMas .imagenTrazado .imagenesTra > .imagen1:first-child {
  width: 59%;
}
/* line 402, ../sass/layout.scss */
.contentT .verMas .imagenTrazado .imagenesTra > .imagen1:last-child {
  width: 40%;
}
/* line 405, ../sass/layout.scss */
.contentT .verMas .imagenTrazado .imagenesTra > .imagen1 {
  display: inline-block;
}
/* line 407, ../sass/layout.scss */
.contentT .verMas .imagenTrazado .imagenesTra > .imagen1 > img {
  max-width: 300px;
  border: 1px dashed #F8BFF3;
  max-height: 190px;
  margin-bottom: 15px;
}
/* line 413, ../sass/layout.scss */
.contentT .verMas .imagenTrazado .imagenesTra > .imagen1 > p {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: white;
  font-size: 15px;
}

/* line 426, ../sass/layout.scss */
.contentL {
  background-color: #FCEBF6;
  padding-top: 20px;
}
/* line 430, ../sass/layout.scss */
.contentL .col-lg-8 > h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background-color: #863C93;
  color: white;
  padding: 10px 5px;
  padding-left: 8px;
  margin: 0;
}
/* line 439, ../sass/layout.scss */
.contentL .col-lg-8 > .rows {
  background-color: #F8BFF3;
  background-color: rgba(248, 191, 243, 0.6);
  padding: 10px;
  margin-bottom: 15px;
  text-align: justify;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
/* line 446, ../sass/layout.scss */
.contentL .col-lg-8 > .rows .titulo {
  font-size: 17px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1C006B;
}
/* line 455, ../sass/layout.scss */
.contentL .col-lg-4 {
  font-family: 'Lato', sans-serif;
}
/* line 457, ../sass/layout.scss */
.contentL .col-lg-4 > h3 {
  font-weight: 700;
  background-color: #863C93;
  color: white;
  padding: 10px 5px;
  padding-left: 8px;
  margin: 0;
}
/* line 465, ../sass/layout.scss */
.contentL .col-lg-4 > .leyenda {
  background-color: #F8BFF3;
  background-color: rgba(248, 191, 243, 0.6);
  padding: 10px;
  margin-bottom: 15px;
}
/* line 469, ../sass/layout.scss */
.contentL .col-lg-4 > .leyenda > p {
  font-size: 15px;
  text-align: justify;
  margin-bottom: 15px;
}

/* line 480, ../sass/layout.scss */
.contentSM {
  background-color: #FCEBF6;
  padding-top: 20px;
  font-family: 'Lato', sans-serif;
}
/* line 484, ../sass/layout.scss */
.contentSM > h3 {
  font-weight: 700;
  background-color: #863C93;
  color: white;
  padding: 10px 5px;
  padding-left: 8px;
  margin: 0 10px;
}
/* line 492, ../sass/layout.scss */
.contentSM > .introduccion {
  margin: 10px;
  font-size: 15px;
  background-color: #F8BFF3;
  background-color: rgba(248, 191, 243, 0.6);
}
/* line 496, ../sass/layout.scss */
.contentSM > .introduccion p {
  padding: 10px;
}
/* line 500, ../sass/layout.scss */
.contentSM > .dance {
  max-width: 650px;
  margin: 0 auto;
  padding: 25px 0px;
}
/* line 504, ../sass/layout.scss */
.contentSM > .dance iframe {
  box-shadow: 1px 2px 23px 10px #e0a2e0;
}
/* line 508, ../sass/layout.scss */
.contentSM .fotografias {
  margin: 10px;
  margin-left: 35px;
  margin-right: 0;
}
/* line 513, ../sass/layout.scss */
.contentSM .fotografias .col-lg-3 > img {
  max-width: 250px;
  min-height: 175px;
}
/* line 517, ../sass/layout.scss */
.contentSM .fotografias .col-lg-3 > p {
  margin-bottom: 15px;
  padding: 10px;
  max-width: 250px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  background-color: #863C93;
  background-color: rgba(134, 60, 147, 0.6);
}

/* line 531, ../sass/layout.scss */
.contentSS {
  background-color: #FCEBF6;
  padding-top: 20px;
  font-family: 'Lato', sans-serif;
}
/* line 536, ../sass/layout.scss */
.contentSS .col-lg-4 .video {
  width: 360px;
  margin: 0 auto;
}
/* line 539, ../sass/layout.scss */
.contentSS .col-lg-4 .video iframe {
  box-shadow: 1px 2px 23px 10px #e0a2e0;
}
/* line 544, ../sass/layout.scss */
.contentSS .col-lg-5 {
  margin-bottom: 15px;
}
/* line 546, ../sass/layout.scss */
.contentSS .col-lg-5 > h3 {
  font-weight: 700;
  background-color: #863C93;
  color: white;
  padding: 10px;
  margin: 0;
}
/* line 553, ../sass/layout.scss */
.contentSS .col-lg-5 .historia {
  background-color: #F8BFF3;
  background-color: rgba(248, 191, 243, 0.6);
  padding: 10px;
  font-size: 15px;
}
/* line 561, ../sass/layout.scss */
.contentSS .col-lg-3 .hoguera > img {
  max-width: 280px;
  box-shadow: 1px 2px 23px 10px #e0a2e0;
}
/* line 567, ../sass/layout.scss */
.contentSS .col-lg-8 {
  margin-bottom: 15px;
}
/* line 569, ../sass/layout.scss */
.contentSS .col-lg-8 > h3 {
  font-weight: 700;
  background-color: #863C93;
  color: white;
  padding: 10px;
  margin: 0;
}
/* line 576, ../sass/layout.scss */
.contentSS .col-lg-8 > .contenidoSanJose {
  background-color: #F8BFF3;
  background-color: rgba(248, 191, 243, 0.6);
  padding: 10px;
  font-size: 15px;
}
/* line 583, ../sass/layout.scss */
.contentSS .col-lg-4.double {
  margin-bottom: 30px;
}
/* line 585, ../sass/layout.scss */
.contentSS .col-lg-4.double .imagenesSanJose {
  max-width: 350px;
  margin: 0 auto;
}
/* line 588, ../sass/layout.scss */
.contentSS .col-lg-4.double .imagenesSanJose > img {
  max-width: 350px;
  box-shadow: 1px 2px 23px 10px #e0a2e0;
}

/* line 596, ../sass/layout.scss */
.contentA {
  background-color: #FCEBF6;
  padding-top: 20px;
  font-family: 'Lato', sans-serif;
}
/* line 601, ../sass/layout.scss */
.contentA .col-lg-6.first > h3 {
  font-weight: 700;
  background-color: #863C93;
  color: white;
  padding: 10px;
  margin: 0;
}
/* line 608, ../sass/layout.scss */
.contentA .col-lg-6.first .alcalde {
  background-color: #F8BFF3;
  background-color: rgba(248, 191, 243, 0.6);
  padding: 10px;
  font-size: 15px;
  margin-bottom: 15px;
}
/* line 614, ../sass/layout.scss */
.contentA .col-lg-6.first .diputados {
  background-color: #F8BFF3;
  background-color: rgba(248, 191, 243, 0.6);
}
/* line 616, ../sass/layout.scss */
.contentA .col-lg-6.first .diputados > li {
  padding: 5px;
}
/* line 621, ../sass/layout.scss */
.contentA .col-lg-6.last {
  margin-bottom: 15px;
}
/* line 623, ../sass/layout.scss */
.contentA .col-lg-6.last > h3 {
  font-weight: 700;
  background-color: #863C93;
  color: white;
  padding: 10px;
  margin: 0;
}
/* line 630, ../sass/layout.scss */
.contentA .col-lg-6.last > .horario {
  background-color: #F8BFF3;
  background-color: rgba(248, 191, 243, 0.6);
  padding: 10px;
  font-size: 15px;
  margin-bottom: 15px;
}
/* line 636, ../sass/layout.scss */
.contentA .col-lg-6.last form {
  background-color: #F8BFF3;
  background-color: rgba(248, 191, 243, 0.6);
  padding: 10px;
}
/* line 639, ../sass/layout.scss */
.contentA .col-lg-6.last form .btn-default {
  margin-bottom: 20px;
  background-color: #863C93;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 645, ../sass/layout.scss */
.contentA .col-lg-6.last form .btn-default:hover {
  background-color: #863C93;
  background-color: rgba(134, 60, 147, 0.5);
}
/* line 649, ../sass/layout.scss */
.contentA .col-lg-6.last form p {
  font-style: italic;
}

@media all and (max-width: 1199px) {
  /* line 661, ../sass/layout.scss */
  .footer .row .col-lg-7 {
    margin-top: 0px;
    padding-left: 0px;
    text-align: right;
  }

  /* line 671, ../sass/layout.scss */
  .content .col-lg-8 .posicion-geografica .mapa {
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
  }
}
@media all and (max-width: 768px) {
  /* line 689, ../sass/layout.scss */
  .footer .row .col-lg-5 .redes-sociales {
    padding-left: 20px;
  }

  /* line 697, ../sass/layout.scss */
  .content .col-lg-4 .masnoticias, .content .col-lg-4 .pdf > h3 {
    padding: 0px 10px;
  }
  /* line 702, ../sass/layout.scss */
  .content #myCarousel .carousel-inner .item > img {
    margin-top: -50px;
  }

  /* line 711, ../sass/layout.scss */
  .jumbotron .container .redes-sociales {
    display: none;
  }
  /* line 714, ../sass/layout.scss */
  .jumbotron .container > h1 {
    font-size: 42px;
  }
  /* line 717, ../sass/layout.scss */
  .jumbotron .container a > img {
    width: 85px;
  }

  /* line 722, ../sass/layout.scss */
  .navbar-default {
    background-color: #863C93;
    background-color: #863c93;
  }
  /* line 727, ../sass/layout.scss */
  .navbar-default #navbarCollapse > ul > li .dropdown-toggle {
    background-position: 67px 12px;
  }
}
@media all and (max-width: 600px) {
  /* line 739, ../sass/layout.scss */
  .content .col-lg-4 .pdf > h3 {
    font-size: 20px;
  }

  /* line 748, ../sass/layout.scss */
  .content .col-lg-8 .posicion-geografica .contenido-8 .contentLanaja, .content .col-lg-8 .posicion-geografica .contenido-8 img {
    width: 100%;
  }
  /* line 757, ../sass/layout.scss */
  .content #myCarousel .carousel-inner .item > img {
    margin-top: -20px;
  }
}
